<div class="card mt-4">
  <h4 class="card-header">Welcome {{name}} . Teacher ID: {{tid}}</h4>
  <div class="card-body">
    <h6>View Taken Sections</h6>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <ul *ngIf="teaches">
      <li *ngFor="let subject of teaches">
        <a routerLink="/teachers/{{subject.tid}}">
          Teacher ID: {{subject.tid}}
        </a>
        <a routerLink="/section/{{subject.teachcourse}}">
          Course Taught: {{subject.teachcourse}}
        </a>
          <ul *ngIf="subject.studentList">
            <h7>Enrolled Students</h7>
            <li *ngFor="let student of subject.studentList">
              Student ID: {{student.sid}}
            </li>
          </ul>
      </li>
    </ul>
  </div>

  <div style="width: 400px; margin: auto;">
    <form [formGroup]="teachesForm" (ngSubmit)="onSubmit()"  class="text-center border border-light p-5">
      <p class="h4 mb-4">Create New Section</p>
      <div class="form-group">
        <label for="section_id">Select Section:</label>
        <select class="form-control" formControlName="url" id="section_id">
          <option *ngFor="let section of sections;" [value]="section.url">
            {{section.sec_id}}
          </option>
        </select>
      </div>
      <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
    </form>
    <br>
    <br>
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
    </div>

  </div>

</div>
