<div class="card mt-4">
    <h4 class="card-header">Welcome {{name}}</h4>
    <nav>
      <ul>
        <li><a routerLink="/users" routerLinkActive="active">User List</a></li>
        <li><a routerLink="/teachers" routerLinkActive="active">Teachers</a></li>
        <li><a routerLink="/departments" routerLinkActive="active">Departments</a></li>
      </ul>
    </nav>

<!--    <div class="card-body">-->
<!--        <h6>View User List</h6>-->
<!--        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>-->
<!--        <ul *ngIf="users">-->
<!--            <li *ngFor="let user of users">{{user.first_name}} {{user.last_name}}</li>-->
<!--        </ul>-->
<!--    </div>-->
</div>
